body{
    /*background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;*/
    background-color: #edf0f2;
    margin-top: 0%;
    background-image: linear-gradient(to bottom, #00a1ff, #00ff8f);
   
}
.page-container{
    margin: 5px 5px 5px 5px;
    padding: 0.5%;
    justify-content:flex-start;
    display: flex;
    border-radius: 10px;
    
}

#profilephoto{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    filter: drop-shadow(6px 6px 6px grey);
    padding-top: 2%;
    
}

.profile-container{
    width:80%;
    border-radius: 5% ;
    text-align: center;
    background-color: white;
     filter: drop-shadow(6px 6px 6px grey);
     height: fit-content;
     

}


.contact-container #email,#github,#phone,#location,#linkedin{
    height: 25px;
    
}


.contact-container{
    text-align:left ;
    margin-left: 8%;
    margin-top: 8%;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.info-containers{
        height: fit-content;
        width:auto;
        margin-left: 2%;
        margin-top: 0%;
        margin-bottom: 1%;
        border-radius: 10px;
       background-color: white;
       filter: drop-shadow(4px 4px 4px grey);
       
}

.grid-container{
    display: flex;
    
    
}

.paragraph{
    margin:1%;
    margin-bottom: 1%;
    font-family:sans-serif;
    font-size: 16px;
    font-weight:100;
}




.right-container{
    display: block;
    padding-top: 0%;
    margin-top: 0%;
}

.skillimages{
    padding-bottom:0.5%;
    padding-top: 1%;
    display: flex;
    justify-content: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}